@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #13ec5b; /* Koyu Mod Yeşili */
  --color-primary-ui: var(--primary-color);
}

:root {
  --bg-main: #f6f8f6;
  --bg-card: #ffffff;
  --text-main: #0f1711;
  --primary-color: #065f46; /* Açık Modda Göz Yormayan Koyu Yeşil (Emerald 800) */
  --border-color: rgba(0,0,0,0.05);
}

.dark {
  --bg-main: #0f1711;
  --bg-card: #1a241d;
  --text-main: #f1f5f9;
  --primary-color: #13ec5b; /* Koyu Modda Parlak Yeşil */
  --border-color: rgba(255,255,255,0.05);
}

@layer base {
  body {
    background-color: var(--bg-main);
    color: var(--text-main);
    @apply font-sans transition-colors duration-300;
  }
}

.card-bg {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
}

/* Karanlık Modda Select Menüsü Düzeltmesi */
select option {
  background-color: #1a241d; /* Koyu Mod Arka Planı */
  color: #f1f5f9;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}